@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-color: #19181a; /*dark grey*/
	animation: transitionIn 2.5s;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}

@keyframes transitionIn { /*page transition*/
	from{
		opacity: 0;
		transform: rotateX(-40deg);
	}
	to{
		opacity: 1;
		transform: rotateX(0);
	}
}


#main{ /*for standard screen view*/
	padding: 30px 50px;
	position:relative;
	width:100%;
	height: 93vh;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("");
	background-color: #19181a; /*dark grey*/
}

#long-main{ /*for longer screen view*/
	padding: 30px 50px;
	position:relative;
	width:100%;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("");
	background-color: #19181a; /*dark grey*/
}
nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
	letter-spacing: 2px;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color: #1b1b1c; /*bit lighter grey*/ /*rgba(255,255,255,0.5) transparent background color*/
	box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
	z-index: 1;
}


.menu{
	display: flex;
	justify-content: space-around;
	width: 35%;
}
.menu li a{
	padding: 10px 15px;
	color:#DCDCDC; /*white color*/
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}

.social a{
	margin: 3px 3px;
}
.social i{
	color: #DCDCDC; /*white*/
	font-size: 16px;
}
.social a:hover i{
	color: #DBB04AFF; /*yellow*/
	transition: all ease 0.5s;
}

.logo{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Pattaya', sans-serif;
	background: linear-gradient( to right, #DCDCDC, #DBB04AFF); /*gradient text from white to yellow*/
	-webkit-text-fill-color: transparent; /*gradient text from white to yellow*/
	-webkit-background-clip: text; /*gradient text from white to yellow*/
}

.toggle{
	display: none;
}

.menu li a:hover{
	color:#DBB04AFF!important; /*yellow text*/
}

.current {
	color:#DBB04AFF!important;/*yellow text*/
}

#body-template{
	width: 100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	display: block;
	flex-direction: column;
	padding: 60px 5% 20px 5%;
	margin-top: 0;
}

#portfolio-body-template{
	width:100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	/*
	align-items: center;
	justify-content: center;
	*/
	padding: 60px 5% 20px 5%;
}

.headline{
	color:#DCDCDC; /*white*/
	font-size: 5rem;
	font-weight: 900;
	padding: 0px;
	text-align: left;
	margin: 0px 0px;
}

.name{
	font-family: 'Roboto', sans-serif;
	width: 50%;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%); /*center the text*/
	text-align: center;
	margin-right: -50%;
}
.name p:nth-child(1),.name .details{
	color:#6c707c; /*grey*/
	font-size: 20px;
	text-align: center;
}

.wave {
	animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;        /* Change to speed up or slow down */
	animation-iteration-count: infinite;  /* Never stop waving :) */
	transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
	display: inline-block;
	/*margin-top: 130px; /*center the emoji vertically
	margin-left: 550px; /*center the emoji horizontally*/
	position: relative;
}

@keyframes wave-animation {
	0% { transform: rotate( 0.0deg) }
	10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
	20% { transform: rotate(-8.0deg) }
	30% { transform: rotate(14.0deg) }
	40% { transform: rotate(-4.0deg) }
	50% { transform: rotate(10.0deg) }
	60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
	100% { transform: rotate( 0.0deg) }
}

.name h1{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin:0px;
	letter-spacing: 1px;
	color:#DCDCDC; /*white*/
	text-align: center;
}

.cv-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}

.cv-center {
	width: 150px;
	height: 45px;
	position: absolute;
}

.cv-btn {
	width:150px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: transparent;
	border: 1px solid #E54242; /*dark red*/
	outline: none;
	transition: 1s ease-in-out;
}

svg {
	position: absolute;
	left: 0;
	top: 0;
	fill: none;
	stroke: #fff;
	stroke-dasharray: 150 480;
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
}

.cv-btn:hover {
	transition: 1s ease-in-out;
	background: #E54242; /*red*/
}

.cv-btn:hover svg {
	stroke-dashoffset: -480;
}

.cv-btn span {
	color: #DCDCDC; /*white*/
	font-size: 18px;
	font-weight: 100;
}

/*-----------------PROJECTS PAGE----------------*/
.e-heading h1{
	color:#DCDCDC; /*white*/
	font-size: 1.3rem;
	margin: 0px;
	padding: 0px;
}
.e-heading{
	text-align: left;
	margin: 20px 0px;
}
.e-box{
	background-color: #2B2B2B;
	width:350px;
	height: 500px;
	margin: 20px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
	position: relative;
}
.b-container{
	display: flex;
	justify-content: center;
	align-content: center;
}

.e-b-img{
	width: 100%;
	height: 70%;

}
.e-b-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.e-b-text{
	width: 100%;
	height: 30%;
	background-color: #1E1E1E;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.e-b-text a{
	margin: 0px;
	color:#FFFFFF;
	font-size: 1.1rem;
	font-family: 'Roboto', sans-serif;
	display: block;
	display: -webkit-box;
	max-width: 80%;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.e-b-text a:hover{
	color:rgba(255,255,255,0.50)
}
.e-type{
	font-family: 'Roboto', sans-serif;
	color:#FFFFFF;
	background-color: #151515;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.e-box:hover{
	transform:translateY(-10px);
	transition: all ease 0.3s;

}

/*---------------PORTFOLIO PAGE--------------*/
.portfolio-container {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-auto-rows: 350px 350px;
	grid-gap: 10px;
	grid-auto-flow: dense;
}

.gallery-item {
	width: 100%;
	height: 100%;
	position: relative;
}

.gallery-item .gallery-image{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery-item .gallery-image img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	cursor: pointer;
	transition: 0.4s ease-in-out;
}

.gallery-item:hover .gallery-image img{
	transform: scale(1.1);
	background-color: #19181a; /*darken images on hover*/
	opacity: 0.2;
}

.gallery-item .overlay-text {
	opacity: 0; /*invisible by default*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #DCDCDC;
	font-size: 25px;
	pointer-events: none;
	z-index: 4;
	transition: 0.3s ease-in-out;
}

.gallery-item:hover .overlay-text {
	opacity: 1;
}

.w-1{
	grid-column: span 1;
}

.w-2{
	grid-column: span 2;
}

.h-1{
	grid-row: span 1;
}

.h-2{
	grid-row: span 2;
}

@media screen and (max-width: 900px) {
	.headline {
		font-size: 3rem;
	}
	.portfolio-container{
		grid-template-columns:repeat(1,1fr);
		grid-auto-rows: 170px 170px;
	}
	.gallery-item .overlay-text {
		font-size: 17px;
	}
	.w-1,.w-2 {
		grid-column: span 1;
	}
}

/*---------------CONTACT PAGE--------------*/
.contact-email {
	margin-top: 60px;
	margin-bottom: 30px;
}

.contact-email a.underline-left {
	position: relative;
	color: #DBB04AFF; /*yellow*/
	text-decoration: none;
	font-size: 2rem;
	letter-spacing: 0.1em;
}

.contact-email a.underline-left:before {
	content: "";
	position: absolute;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #DCDCDC;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.contact-email a.underline-left:hover:before {
	visibility: visible;
	width: 100%;
}

@media(max-width:900px){
	.contact-email a.underline-left {
		font-size: 1.5rem;
	}
}

@media(max-width:700px){
	.contact-email a.underline-left {
		font-size: 1rem;
	}
}

.line{
	width: 100px;
	height: 50px;
	border-bottom: 3px solid #DCDCDC;
	position: relative;
}

/*---------------FOOTER--------------*/
footer {
	display: inline-block;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #6c707c !important; /*grey*/
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
}


/*-------------THE RESPONSIVE PART-----------*/
@media(max-width:1190px){
	#main{
		background-size: 1150px !important;

	}
	#long-main {
		background-size: 1150px !important;

	}
	.name {
		left: 10%;
		top: 50%;
		transform: translate(-10%,-50%);
	}

	.b-container{
		flex-wrap: wrap;
	}
	.e-box{
		flex-grow: 1;
	}
	.e-b-img img{
		object-fit:cover;
	}
}

@media(max-width:1200px){
	#main{
		background-image: none !important;
	}

	#long-main {
		background-size: 1150px !important;

	}

	.name {
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}

@media screen and (max-width: 900px) {
	.logo{
		font-size: 25px;
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%); /*center logo*/
		transform: translateX(-50%);
	}

	.toggle{
		display:block;
	}
	.toggle:before{
		content:'\f0c9';
		font-family: fontAwesome;
		line-height: 0px;
		color: #DBB04AFF /*yellow menu bar in smaller screen*/
	}
	.toggle.active:before{
		content:'\f00d' !important;
	}

	nav{
		padding:10px 30px;
	}

	nav ul{
		position:absolute;
		width: 100%;
		height:auto;
		box-sizing: border-box;
		background-color:#0F0F0F;
		top: 50px;
		left: 0;
		transition: 0.5s;
		overflow: hidden;
		display: none !important;
		border: 3px solid #1F1F1F;
	}

	nav ul li a{
		border-bottom: 1px solid rgba(255,255,255,0.10) ;
		color:#ffffff !important;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0px !important;
		padding: 0px !important;
	}
	nav ul{
		padding:0px;
		margin:0px;
	}

	.active-menu {
		display: block !important;
	}

	nav ul li a:hover{
		background-color:rgba(27,29,32,0.15);
	}

	.social a{
		margin: 0;
	}
	.social i{
		font-size: 12px;
	}

	.p-container{
		grid-template-columns:1fr 1fr;
		grid-template-rows:auto;
		grid-gap: 10px;
		height: auto;
	}
	.c-b-heading{
		font-size: 1.4rem;
		text-align: center;
	}
}

/*Responsive for Portfolio Image Grid*/
@media screen and (max-width: 800px) {
	.portfolio-inner-grid {
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.portfolio-inner-grid {
		flex: 100%;
		max-width: 100%;
	}
}
/*End of Responsive for Portfolio Image Grid*/

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

