@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-color: #19181a;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
#main{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("");
	background-color: #19181a;
}
nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color: rgba(255,255,255,0.5) /*transparent background color*/
	box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
	z-index: 1;
}

.menu{
	display: flex;
}
.menu li a{
	padding: 10px 15px;
	color:#DCDCDC; /*white color*/
	font-size: 13px;
}

.social a{
	margin: 3px 3px;
}
.social i{
	color: #DCDCDC; /*white*/
	font-size: 16px;
}
.social a:hover i{
	color: #DBB04AFF; /*yellow*/
	transition: all ease 0.5s;
}

.logo{
	font-size: 25px;
	font-weight: bold;
	color:#DBB04AFF; /*yellow*/
	font-family:'Roboto', sans-serif;
}
.toggle{
	display: none;
}

.menu li a:hover{
	border: 1px solid #DBB04AFF; /*yellow border*/
	color:#FFF!important;
	font-weight: bold;
	transition: all ease 0.4s;
}
.name{
	font-family: 'Roboto', sans-serif;
	width: 50%;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%,-50%); /*center the text*/
	text-align: center;
	margin-right: -50%;
}
.name p:nth-child(1),.name .details{
	color:#6c707c; /*grey*/
	font-size: 20px;
	text-align: center;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
	/*margin-top: 130px; /*center the emoji vertically
	margin-left: 550px; /*center the emoji horizontally*/
	position: relative;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.name h1{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	margin:0px;
	letter-spacing: 1px;
	color:#DCDCDC; /*white*/
	text-align: center;
}

.cv-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
	margin-top: 50px;
}

.cv-center {
  width: 150px;
  height: 45px;
  position: absolute;
}

.cv-btn {
	width:150px;
	height: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
  cursor: pointer;
  background: transparent;
  border: 1px solid #E54242; /*dark red*/
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.cv-btn:hover {
  transition: 1s ease-in-out;
  background: #f76c6c; /*red*/
}

.cv-btn:hover svg {
  stroke-dashoffset: -480;
}

.cv-btn span {
  color: #DCDCDC; /*white*/
  font-size: 18px;
  font-weight: 100;
}

#projects{
	width:100%;
	height:100vh;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px ;

}

.e-heading h1{
	color:#DBB04AFF; /*yellow*/
	font-size: 2rem;
	margin: 0px;
	padding: 0px;

}
.e-heading{
	text-align: center;
	margin: 20px 0px;
}
.e-box{
	background-color: #2B2B2B;
	width:350px;
	height: 500px;
	margin: 20px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
	position: relative;
}
.b-container{
	display: flex;
	justify-content: center;
	align-content: center;
}

.e-b-img{
	width: 100%;
	height: 70%;

}
.e-b-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.e-b-text{
	width: 100%;
	height: 30%;
	background-color: #1E1E1E;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.e-b-text a{
	margin: 0px;
	color:#FFFFFF;
	font-size: 1.1rem;
	font-family: 'Roboto', sans-serif;
	display: block;
	display: -webkit-box;
	max-width: 80%;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.e-b-text a:hover{
	color:rgba(255,255,255,0.50)
}
.e-type{
	font-family: 'Roboto', sans-serif;
	color:#FFFFFF;
	background-color: #151515;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.e-box:hover{
	transform:translateY(-10px);
	transition: all ease 0.3s;

}
#portfolio{
	width:100%;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
}

.p-headlind{
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	text-align: center;
	color:#FFFFFF;
	font-weight: 400;
	padding: 10px 20px;
	background-color: #DBB04AFF; /*yellow*/
	letter-spacing: 2px;
	border-radius: 3px;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

.p-box{
	background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;

}
.p-box img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.p-container{
	width: 90%;
	height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}
.overlay-text{
	font-family: 'Roboto', sans-serif;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(206, 93, 93, 0.6);
	display:none;

}
.overlay-text h1,p{
	color: #FFFFFF;
}
.overlay-text h1{
	font-size: 1.2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
}
.overlay-text p{
	font-size: 1.0rem;
	margin: 0px;
}
.p-box:hover .overlay-text{
	display: flex;
}

#contact-form{
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	padding-top: 10px;
}

.c-heading h1{
	color:#DCDCDC; /*yellow*/
	font-size: 2rem;
	margin: 3px;
	margin-bottom: 25px;
	padding: 0px;
	text-align: left;
}

a {
    color: #DBB04AFF; /*yellow*/
    text-decoration: none;
}

.c-heading{
	text-align: center;
	margin: 15px;
}

#contact-form form{
	display: flex;
	width: 70%;
	height: 60vh;
	background-color: #1F1F1F;
	box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
	border: 1px solid rgba(255,255,255,0.01)
}

.contact-left{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-right{
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255,255,255,0.08);
}
.contact-right button{
	width: 100%;
	height: 50px;
	background-color: #f76c6c; /*red*/
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	color:#1B1B1B;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.contact-right button:hover{
	background-color: #E54242; /*dark red*/
	transition: all ease 0.5s;
	cursor: pointer;
}

.c-l-heading{
	font-family: 'Roboto', sans-serif;
	color:#DBB04AFF; /*yellow*/
	font-size: 2.5rem;
	letter-spacing: 2px;
	font-weight: 400;

}
.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;

}
.f-name font,.f-email font{
	color:#BFBFBF;
	font-size: 22px;
}
.f-name input,.f-email input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid #929292;
	color:#FFFFFF;
	margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
	border-bottom: 1px solid #f76c6c;
	transition: all ease 0.5s;
	}.message font{
		font-size: 18px;
		color: #777272;
		font-family: 'Roboto', sans-serif;

	}
	.message{
		margin: 20px;
	}
	.contact-right textarea{
		width: 100% !important;
		height: 320px !important;
		border: none;
		outline: none;
		background-color:transparent;
		box-sizing: border-box;
		color:#EBEBEB;
		font-size: 16px;
		resize: none;
		font-family: 'Roboto', sans-serif;
	}
	.contact-right textarea::placeholder{
		color:#EBEBEB;
		font-size: 18px;
		letter-spacing: 2px;
		font-family: 'Roboto', sans-serif;
	}
	.contact-right button:active{
		transform: scale(1.04);
		transition: all ease 0.1s;
	}

	footer p{
		display: inline-block;
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 15px;
		color: #6c707c !important; /*grey*/
    text-decoration: none;
	}

/* THE RESPONSIVE PART */
	@media(max-width:1190px){
		#main{
			background-size: 1150px !important;

		}
		.name {
			left: 10%;
			top: 50%;
			transform: translate(-10%,-50%);
		}

		#projects{
			height:auto;
		}
		.b-container{
			flex-wrap: wrap;
		}
		.e-box{
			flex-grow: 1;
		}
		.e-b-img img{
			object-fit:cover;
		}
		#contact-form form{
			width:95% !important;
		}

	}

	@media(max-width:970px){
		#main{
			background-image: none !important;
		}

		.name {
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}

	@media(max-width:900px){
		.toggle{
			display:block;
		}
		.toggle:before{
			content:'\f0c9';
			font-family: fontAwesome;
			line-height: 0px;
			margin-left:-30px;
			color: #DBB04AFF /*yellow menu bar in smaller screen*/
		}
		.toggle.active:before{
			content:'\f00d' !important;
		}

		nav{
			padding:10px 30px;
		}

		nav ul{
			position:absolute;
			width: 100%;
			height:auto;
			box-sizing:border-box;
			background-color:#0F0F0F;
			top: 50px;
			left: 0;
			transition: 0.5s;
			overflow: hidden;
			display: none !important;
			border:3px solid #1F1F1F;
		}

		nav ul li a{
			border-bottom: 1px solid rgba(255,255,255,0.10) ;
			color:#ffffff !important;
			width: 100%;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0px !important;
			padding: 0px !important;
		}
		nav ul{
			padding:0px;
			margin:0px;
		}

		.active-menu {
			display: block !important;
		}

		nav ul li a:hover{
			background-color:rgba(27,29,32,0.15);
		}


		.p-container{
			grid-template-columns:1fr 1fr;
			grid-template-rows:auto;
			grid-gap: 10px;
			height: auto;
		}
		.c-b-heading{
			font-size: 1.4rem;
			text-align: center;
		}
		#contact-form{
			padding: 20px;
			height: auto;
			box-sizing: border-box;
		}

		#contact-form form {
			flex-direction: column;
			height:auto;
			padding: 20px;
			width:90% !important;

		}
		.contact-left,.contact-right{
			width:100%;
			border: none;
		}
		.f-name,.f-email{
			width: 100%;

		}
		.f-name input,.f-email input{
			width:100%;
			border: none;
			background-color: #262626 !important;
			padding: 10px;
			box-sizing: border-box;
			height: 40px;

		}
		textarea{
			background-color: #262626 !important;
			margin: 10px 0px;
			padding: 10px;
			height: 200px !important;
			width:100% !important;
		}
		.message{
			margin:0px;
		}
		#contact-form form h1{
			margin:5px 0px;
		}
	}


	@media(max-width:600px){
		.p-container{
			grid-template-columns:1fr ;
			grid-template-rows: auto;}
			.c-b-heading{
				font-size: 1.2rem;
				text-align: center;
				margin: 0px 10%;
			}
			.name{
				width:60%;
			}
			.social{
				left: 30px;
				transform: translateX(-10px);
			}
		}

		#myImg {
			border-radius: 5px;
			cursor: pointer;
			transition: 0.3s;
		}

		#myImg:hover {opacity: 0.7;}



		@keyframes zoom {
			from {transform:scale(0)}
			to {transform:scale(1)}
		}

		/* The Close Button */
		.close {
			position: absolute;
			top: 15px;
			right: 35px;
			color: #f1f1f1;
			font-size: 40px;
			font-weight: bold;
			transition: 0.3s;
		}

		.close:hover,
		.close:focus {
			color: #bbb;
			text-decoration: none;
			cursor: pointer;
		}

		/* 100% Image Width on Smaller Screens */
		@media only screen and (max-width: 700px){
			.modal-content {
				width: 100%;
			}
		}
